<%- include('partials/header') %>

<div class="container">
    <h1 class="display-3"><i class="fas fa-key"></i> About Us</h1><br>
    <p>Hello and Welcome, <br>My name is Vishal Kashyap I'm a Full Stack Web Developer<br>(MERN Stack & DSA)<br><br><br>ThankYou for visiting our website</p>
</div>
<%- include('partials/footer') %>
