<%- include('partials/header') %>

<div class="container">
    <h1 class="display-3"><i class="fas fa-key"></i> Contact Us</h1>
    <p>feel free to contact us</p>
    <p>If you have any issue with our website then kindly reach us at LinkedIn</p>
    <a href="https://www.linkedin.com/in/vishal-kashyap-447a451ba" target="_blank" class="btn btn-light btn-lg"><i class="fab fa-linkedin"></i> LinkedIn</a>
    <a href="https://github.com/vishalkashyap247" target="_blank" class="btn btn-dark btn-lg"><i class="fab fa-github"></i> GitHub</a>
</div>
<%- include('partials/footer') %>
