<%- include('partials/header') %>

<div class="container">
    <h1 class="display-3"><i class="fas fa-key"></i> Error :(</h1><br><br>
    <p>Our website has crossed the maximum number of users!</p>
    <p>This page will automatically redirect when the issue is resolved, by the time you can visit secret page without login.</p>
    <p>also you can report this error by visiting our contact up page.</p><br><br>

</div>
<%- include('partials/footer') %>
