<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    
    <h1 class="display-3 centered"><i class="fas fa-key"></i> You've Discovered Secrets!</h1><hr>
    <ol class="secret-text">

      <% usersWithSecret.forEach(function(user){ %>
        

          <li ><%= user.secret %></li>
        <% }) %>
      </ol>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button"><%= btnName %></a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    <p class="small">One user one secret</p>
  </div>
</div>

<%- include('partials/footer') %>
