<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    
    <h1 class="display-3"><i class="fas fa-key"></i> Secrets</h1>
    <p class="center">Don't keep your secrets, share them anonymously!</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center center" name="secret" placeholder="What's your secret?">
      </div><br>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
